/* PurchaseOrder.css */
.purchase-order-page {
  width: 900px;
  height: 100%;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  
}

.purchase-order-title {
  text-align: center;
  margin-top: 0;
}

.purchase-order .section,
.purchase-order .summary,
.purchase-order .payment-conditions,
.purchase-order .signatures {
  margin-bottom: 20px;
}

.purchase-order .document-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

 .header-right {
  text-align: right;
}

.purchase-order .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.purchase-order .column {
  width: 48%;
  text-align: left;
}

.purchase-order .label21,
.purchase-order .label527,
.purchase-order .label45,
.purchase-order .label452 {
  font-weight: bold;
}

.purchase-order .value1 {
  margin-top: 5px;
}

.purchase-order-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.purchase-order-table th,
.purchase-order-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.purchase-order .payment-conditions .payment-condition {
  margin-bottom: 10px;
}

.purchase-order .payment-conditions input {
  margin-right: 10px;
}

.purchase-order .signatures {
  display: flex;
  justify-content: space-between;
}

.purchase-order .signature {
  width: 30%;
}

.purchase-order .signature  {
  font-weight: bold;
}

.purchase-order .signature .value {
  display: block;
  margin-top: 5px;
}

.purchase-order .summary-label {
  text-align: center;
}

.purchase-order .summary-value {
  text-align: center;
}

.purchase-order .pdf-button-container {
  text-align: center;
  margin-top: 20px;
}

.purchase-order .pdf-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3033dd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.purchase-order .pdf-button:hover {
  background-color: #45a049;
}


.purchase-order-remark p {
  display: inline; /* ทำให้ข้อความใน p อยู่ในบรรทัดเดียวกัน */
  margin: 0; /* ลบระยะห่างจาก p */
}

.purchase-order-signatures {
  display: flex;
  justify-content: space-between; /* จัดให้แต่ละกล่องกระจายตัวอย่างสมดุล */
  text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
  margin-top: 20px;
}

.purchase-order-signature {
  flex: 1; /* ทำให้ทุกคอลัมน์มีขนาดเท่ากัน */
  padding: 10px;
}



.value {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.date {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

.purchase-order-row {
  align-items: center;
  gap: 20px;
}



.label {
  font-weight: bold;
  margin-right: 5px;
  display: inline-block;
}

.value {
  display: inline-block;
}

